@model DpHomework.Models.IndividualViewModel

@{
    ViewBag.Title = "title";
}
<div><a href="~/main.html">Go to Main</a></div>

<h2>Add Address</h2>
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/addAddress.js"></script>
<form id="newAddress">
    <input type="hidden" id="@Model.Id" id="individualId" />
    <div class="row">
        <div class="col-xs-6">
            <div><label for="firstName">First Name: </label><span>@Model.FirstName</span></div>
            <div><label for="middleName">Middle Name: </label><span>@Model.MiddleName</span></div>
            <div><label for="lastName">Last Name: </label><span>@Model.LastName</span></div>
            <div><label for="email">Email Name: </label><span>@Model.Email</span></div>
        </div>
        <div class="col-xs-6">
            <div><label for="addressLine1">Address Line 1: </label><input type="text" maxlength="100" id="addressLine1" /></div>
            <div><label for="addressLine2">Address Line 2: </label><input type="text" maxlength="100" id="addressLine2" /></div>
            <div><label for="city">City: </label><input type="text" maxlength="100" id="city" /></div>
            <div><label for="state">State: </label><input type="text" maxlength="35" id="state" /></div>
            <div><label for="zip">Zip: </label><input type="text" maxlength="10" id="zip" /></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div><input type="button" value="Add" id="addBtn" /></div>
        </div>
    </div>
</form>